apiVersion: v1
kind: Deployment
metadata:
  name: backend-deployment-configmap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: sweabhishek/ts-node-app:v1
          ports:
            - containerPort: 3000
          env:
          - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: port
