apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment-configmap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: sweabhishek/ts-node-app:v1
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: env-file
              mountPath: "/app/.env"
              subPath: ".env"
              readOnly: true
      volumes:
        - name: env-file
          secret:
            secretName: backend-secret

