apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
data:
  .env: UE9TVEdSRVNfUEFTU09XUkQgPSBwb3N0Z3Jlc3M6Ly9wb3N0Z3Jlczpzd2VhYmhpc2hla3JhdXRAbG9jYWxob3N0OjU0MzIKSldUX1NFQ1JFVD1hYmhpc2hla3RoaXNpc215SkVUa3NoaFdEbGFqRXB3blNkbApQT1JUPTMwMDAK
